.footer {
    display: flex;
    gap: 305px;
    padding-left: 211px;
    padding-right: 210px;
    padding-top: 64px;
    padding-bottom: 60px;
    background: #1F2F5C;
    align-items: center;
}

.main_menuIitems2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 36px;
}

.menu_style2 {
    color: $textColor_secondary;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_style2:hover {
    color: #ef2a82;
}

.social_media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 39px;
}

.logo2 {
    width: 139px;
}

.logo2:hover {
    transform: scale(1.2);
}