* {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.container_main {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
}

@import"color";
@import"_header";
@import"_footer";

.reports_icon {
    width: 671px;
    height: 480px;
}

.reports {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 29px;
    justify-content: center;
}

.reports_description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
}

.reports_title {
    color: $textColor_main;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 382px;
}

.reports_text {
    color: $textColor_secondary;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 480px;
}

.contact_data {
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    width: 348px;
    color: #8989a2;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    flex-direction: row;
    flex-wrap: wrap;
}

.products {
    padding-top: 38px;
    padding-bottom: 44px;
    background: $color_main;
}

.main_features {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding-bottom: 81px;
}

.features_title {
    color: $textColor_main;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.features_text {
    color: $textColor_secondary;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 1060px;
}

.features_description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 130px;
    justify-content: center;
}

.feature {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.feature_icon {
    margin-bottom: 26px;
}

.features_title2 {
    color: $textColor_main;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.features_text2 {
    width: 368px;
    color: $textColor_secondary;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.automated_reprots_icon {
    @extend.reports_icon;
    transform: translate(35px);
}

.automated_reports_icon_hover:hover {
    transform: scale(1.1);
    transition: transform 2s;
}

.customizable_icon_hover:hover {
    transform: scale(1.1);
    transition: transform 2s;
}

.pre_build_reports_icon_hover:hover {
    transform: scale(1.1);
    transition: transform 2s;
}

.automated_reports {
    @extend.reports;
    padding-bottom: 60px;
}

.automated_reports_description {
    @extend.reports_description;
}

.automated_reports_title {
    @extend.reports_title;
}

.automated_reports_text {
    @extend.reports_text;
}

.customizable {
    @extend.reports;
}

.customizable_description {
    @extend.reports_description;
}

.customizable_title {
    @extend.reports_title;
    width: 480px;
}

.customizable_text {
    @extend.reports_text;
}

.customizable_icon {
    @extend.reports_icon;
    transform: translate(-35px);
}

.pre_build_reports {
    @extend.reports;
    padding-top: 60px;
}

.pre_build_reports_description {
    @extend.reports_description;
}

.pre_build_reports_title {
    @extend.reports_title;
}

.pre_build_reports_text {
    @extend.reports_text;
}

.pre_build_reports_icon {
    @extend.reports_icon;
    transform: translate(35px);
}

.pricing {
    background: $color_main;
    background-image: url(https://i.postimg.cc/g07dWXMN/Group-39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 272px;
    padding-bottom: 158px;
}

.pricing_plans {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
    margin-bottom: 80px;
}

.pricing_plans_title {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pricing_plans_text {
    color: $textColor_secondary;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 698px;
}

.three_proposals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.starter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
    background: rgba(15, 31, 75, 0.7);
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
}

.proposal_text {
    color: $textColor_secondary;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.proposal_title {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.proposal_text {
    color: $textColor_secondary;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.price_total {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    margin-top: 28px;
}

.dollar {
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price {
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.proposal_text2 {
    color: $textColor_secondary;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.order_button {
    display: flex;
    padding: 15px 80px;
    align-items: center;
    gap: 10px;
    border-radius: 68px;
    border: 1px solid #2a407c;
    flex-direction: row;
    flex-wrap: wrap;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.5s;
}

.order_button:hover {
    background-color: burlywood;
    transform: scale(1.1);
}

.standard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 18px 50px -15px #060F28;
}

.starter_title {
    color: $textColor_main;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.dollar2 {
    color: $textColor_main;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.price2 {
    color: $textColor_main;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.order_button2 {
    display: flex;
    padding: 15px 83px;
    align-items: center;
    gap: 10px;
    border-radius: 68px;
    background: #EF2A82;
    flex-direction: row;
    flex-wrap: wrap;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0, 5s;
}

.order_button2:hover {
    background-color: burlywood;
    transform: scale(1.1);
}

.premium {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 30px;
    background: rgba(15, 31, 75, 0.7);
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.20);
}

.faq_signup {
    padding-top: 109px;
    padding-bottom: 156px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 58px;
    background: $color_main;
    justify-content: center;
}

.why_use_analytics {
    color: #160637;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    width: 431px;
    margin-bottom: 75px;
    margin-top: 50px;
}

.trusted {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    margin-bottom: 50px;
}

.best_companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 102px;
    margin-bottom: 58px;
}

.best_companies2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 111px;
}

.form {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 4px 4px 12px 0px rgba(137, 137, 162, 0.12);
}

.background_rectangle {
    width: 480px;
    height: 480px;
    background: #f9f0ff;
    position: absolute;
    right: 314px;
    transform: translateY(50px);
}

.container_form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.sign_up {
    color: #160637;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.start_trial {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 103px;
    padding-right: 103px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
    background: #722ED1;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border-radius: 4px;
    transition: 0.5s;
}

.start_trial:hover {
    background-color: rgb(248, 152, 152);
}

.primary_email {
    @extend.contact_data;
}

.password {
    @extend.contact_data;
}

.re-type {
    @extend.contact_data;
}

.get_better {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.rating-area {
    overflow: hidden;
    width: 100px;
    margin: 0 auto;
}

.rating-area:not(:checked)>input {
    display: none;
}

.rating-area:not(:checked)>label {
    float: right;
    width: 20px;
    padding: 0;
    cursor: pointer;
    font-size: 18px;
    line-height: 18px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked)>label:before {
    content: '★';
}

.rating-area>input:checked~label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked)>label:hover,
.rating-area:not(:checked)>label:hover~label {
    color: gold;
}

.rating-area>input:checked+label:hover,
.rating-area>input:checked+label:hover~label,
.rating-area>input:checked~label:hover,
.rating-area>input:checked~label:hover~label,
.rating-area>label:hover~input:checked~label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area>label:active {
    position: relative;
}

.account {
    color: #8989A2;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login {
    color: #722ED1;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}

.navbar {
    display: none;
}

.dash_board_small {
    display: none;
}

.heading_text_mobile {
    display: none;
}

.gallery {
    display: none;
}

@media (max-width: 375px) {
    .center {
        padding-left: calc(50% - 167.5px);
        padding-right: calc(50% - 167.5px);
    }

    .heading_menu {
        display: none;
    }

    .heading_text {
        display: none;
    }

    .small_logo {
        display: flex;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 72px;
        transition: 1s;
    }

    .small_logo:hover {
        transform: scale(1.2);
    }

    .navbar {
        display: initial;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 10000;
        --bs-navbar-padding-y: 0;
        transform: translateX(-21px);

    }

    .bg-body-tertiary {
        --bs-bg-opacity: 0;
    }

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        background-color: #172755;
        box-shadow: 0px 4px 4px 0px #12214D;
    }

    .navbar {
        --bs-navbar-toggler-icon-bg: url(https://i.postimg.cc/bw1tDBNd/Group-63.png);
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .show>.nav-link {
        color: black;
    }

    .nav-link {
        color: white;
        width: 100px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .graphs {
        display: none;
    }

    .dash_board_small {
        display: block;
        padding-top: 89px;
    }

    .dash_board_container {
        margin-top: 0px;
    }

    .heading_title {
        color: #FFF;
        font-size: 31px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        width: 335px;
    }

    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .heading_text_mobile {
        display: block;
        color: #8794BA;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        width: 335px;
        margin-bottom: 26px;
    }

    .heading {
        width: 335px;
    }

    .button_try {
        width: 335px;
    }

    .dash_board_container {
        margin-bottom: 200px;
        width: 335px;
    }

    .products {
        padding-top: 0px;
    }

    .main_features {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        justify-content: flex-start;
        padding-bottom: 40px;
    }

    .features_title {
        color: #172755;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .features_text {
        color: #8794BA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        text-align: left;
        width: 335px;
    }

    p {
        margin-bottom: 0rem;
    }

    .features_description {
        gap: 35px;
        padding-bottom: 71px;
    }

    .feature_mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .feature {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 28px;
    }

    .features_title2 {
        color: #172755;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .features_text2 {
        color: #8794BA;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        width: 246px;
        text-align: left;
    }

    .feature_icon {
        margin-bottom: 0px;
    }

    .automated_reports_description {
        gap: 20px;
        align-items: flex-start;
    }

    .automated_reports_title {
        color: #172755;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 335px;
    }

    .automated_reports_text {
        color: #8794BA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        align-self: stretch;
        width: 335px;
    }

    .automated_reports {
        gap: 30px;
        padding-bottom: 288px;
    }

    .automated_reprots_icon {
        width: 365px;
        height: 260px;
        transform: translateX(-184px);
        position: absolute;
    }

    .customizable {
        flex-direction: column-reverse;
        margin-bottom: 288px;
    }

    .customizable_title {
        color: #172755;
        font-family: Roboto;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 335px;
    }

    .customizable_description {
        gap: 20px;
    }

    .customizable_text {
        color: #8794BA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        align-self: stretch;
        width: 335px;
    }

    .customizable_icon {
        width: 365px;
        height: 260px;
        transform: translateX(-185px);
        position: absolute;
    }

    .pre_build_reports {
        padding-top: 0px;
    }

    .pre_build_reports_description {
        gap: 20px;
    }

    .pre_build_reports_title {
        color: #172755;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-self: stretch;
        width: 335px;
    }

    .pre_build_reports_text {
        color: #8794BA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        width: 335px;
    }

    .pre_build_reports_icon {
        width: 365px;
        height: 260px;
        transform: translateX(-184px);
        position: absolute;
    }

    .three_proposals {
        gap: 20px;
    }

    .three_proposals {
        display: none;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(10, 280px);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 1rem;
        overflow: scroll;
        height: 371px;
        scroll-snap-type: both mandatory;
    }

    .active {
        scroll-snap-type: unset;
    }

    li {
        scroll-snap-align: center;
        display: inline-block;
        border-radius: 3px;
        font-size: 0;
    }

    .starter {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 47px;
        padding-left: 37px;
        padding-right: 37px;
        border-radius: 30px;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 0px 18px 50px -15px #060F28;
    }

    .proposal_title {
        color: #172755;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 7px;
    }

    .proposal_text {
        color: #8794BA;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 30px;
    }

    .stripe {
        margin-bottom: 20px;
        background: #D3D9E9;
    }

    .dollar {
        color: #172755;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .price {
        color: #172755;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .proposal_text2 {
        color: #8794BA;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 36px;
    }

    .order_button {
        display: flex;
        padding: 15px 83px;
        align-items: center;
        gap: 10px;
        border-radius: 68px;
        background: #ef2a82;
        flex-direction: row;
        flex-wrap: wrap;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 0px;
    }

    .price_total {
        margin-top: 0px;
    }

    .standard {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 47px;
        padding-left: 37px;
        padding-right: 37px;
        border-radius: 30px;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 0px 18px 50px -15px #060F28;
    }

    .starter_title {
        color: #172755;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 7px;
    }

    .proposal_text {
        color: #8794BA;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 36px;
    }

    .proposal_text2 {
        color: #8794BA;
        text-align: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        margin-bottom: 36px;
    }

    .order_button {
        display: flex;
        padding: 15px 83px;
        align-items: center;
        gap: 10px;
        border-radius: 68px;
        background: #ef2a82;
        flex-direction: row;
        flex-wrap: wrap;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 0px;
    }

    .premium {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 47px;
        padding-left: 37px;
        padding-right: 37px;
        border-radius: 30px;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 0px 18px 50px -15px #060F28
    }

    .proposal_title {
        color: #172755;
        text-align: center;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 7px;
    }

    .pricing {
        padding-top: 190px;
        padding-bottom: 200px;
    }

    .pricing_plans_title {
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        width: 335px;
        text-align: left;
    }

    .pricing_plans_text {
        color: #8794BA;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        width: 335px;
        text-align: left;
    }


    .products {
        padding-bottom: 220px;
    }

    .pricing_plans {
        gap: 20px;
        margin-bottom: 59px;
    }

    .faq_signup {
        padding-top: 34px;
        padding-bottom: 35px;
    }

    .faq {
        display: none;
    }

    .form {
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .start_trial {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 97px;
        padding-right: 97px;
        width: 335px;
    }

    .primary_email {
        width: 335px;
    }

    .password {
        width: 335px;
    }

    .re-type {
        width: 335px;
    }

    .background_rectangle {
        display: none;
    }

    .main_menuIitems2 {
        display: none;
    }

    .footer {
        display: flex;
        gap: 76px;
        padding-left: 18px;
        padding-right: 18px;
        padding-top: 36px;
        padding-bottom: 36px;
        background: #1f2f5c;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .logo2 {
        width: 124px;
        height: 24px;
    }

    .social_media {
        gap: 40px;
    }

}